{% extends 'base-front.html.twig' %}
{% block Content %}

    <div class="head-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-route">
                        <form method="post">
                            <div class="location">
                                <p>
                                    <label><i class="fa fa-location-arrow"></i></label>
                                    <input type="text" placeholder="Your location">
                                </p>

                                <p>
                                    <label><i class="fa fa-location-arrow"></i></label>
                                    <input type="text" placeholder="Going to">
                                </p>
                            </div>
                            <div class="date-n-time">
                                <p>
                                    <label><i class="fa fa-calendar"></i></label>
                                    <input id="datetimepicker1" type="text" >
                                </p>
                                <p>
                                    <label><i class="fa fa-clock-o"></i></label>
                                    <input id="datetimepicker2" type="text" >
                                </p>
                            </div>
                            <button class="theme-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- top search head -->

    <section>
        <div class="space-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="heading text-left no-margin">
                            <h5>Circuits </h5>
                        </div>
                        {% for circuit in circuits %}
                        <div class="rides-list">

                            <div class="rides-listing">
                                <div class="rider-imag">
                                    <img alt="" src={{ asset('Front/images/resources/cirrr.jpg') }}>
                                    <div class="rating">
                                        <em>{{ circuit.proprietairecircuit }}</em>
                                        <ul class="stars-rating">
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rides-meta">
                                    <h4>{{ circuit.nomDuCircuit }}</h4>
                                    <span>
                                        	<i class="fa fa-calendar-o">{{ circuit.dateconstructionc }}</i>>
                                            <em></em>

                                        </span>
                                    <p>Revetement: {{ circuit.revetement }}</p>
                                    <p>Nombre des virages: {{ circuit.nbrevirage }}</p>
                                    <i class="fa fa-road" data-toggle="tooltip"  title="This ride goes on the freeway."></i>
                                </div>
                                <div class="price-tag">
                                    <em>{{ circuit.longeurcircuit }} km</em>
                                    <div class="availablity">
                                        <span class="avail"></span>
                                        <span class="avail"></span>
                                        <span class="avail"></span>
                                        <span class="notavail"></span>
                                    </div>
                                </div>
                            </div>





                        </div>
                        {% else %}
                            <tr>
                                <td colspan="13">no records found</td>
                            </tr>
                        {% endfor %}

                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="rides-search">

                            <form method="post">
                            <input type="text" placeholder="Nom Du Circuit" disabled>
                            <div class="luggage">
                                <input type="text" placeholder="Date de Reservation" >

                            </div>
                            <div class="luxury">
                                <input type="text" placeholder="Nom Du Pilote" >
                            </div>
                            <div class="prefer">
                                <input type="text" placeholder="Telephone" >
                            </div>
                            <a href="#" title="" class="theme-btn"><i class="fa fa-check-circle"></i>Reserver</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}