{% extends 'base-front.html.twig' %}
{% block Content %}
    <section>
        <div class="space-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left less-margin">
                            <h5>Les Véhicules</h5>
                        </div>
                        <div class="request-list">
                            <div class="colla-table">

                                <table class="table table-responsive">

                                    <thead>

                                    <tr>
                                        <th>Marque</th>
                                        <th>Modéle</th>
                                        <th>Couleur</th>
                                        <th>Age</th>
                                        <th>Puissance</th>
                                        <th>Cylindre</th>
                                    </tr>
                                    </thead>
                                    {% for vehicule in vehicules %}
                                    <tbody>
                                    <tr>
                                        <td>{{ vehicule.marqueveh }}</td>
                                        <td>{{ vehicule.modeleveh }}</td>
                                        <td>{{ vehicule.couleurveh }}</td>


                                        <td>{{ vehicule.agevehicule }}</td>
                                        <td>{{ vehicule.puissanceveh }}</td>
                                        <td>{{ vehicule.cylindre }}</td>
                                    </tr>

                                    </tbody>
                                    {% else %}
                                        <tr>
                                            <td colspan="13">no records found</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}